<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>EXPENSE TRACKER LOGIN</title>
</head>

<body>

    <div>
        <h1 style="text-align: center"> USER LOGIN </h1>

    </div>
    <div class="container">
        <form id="loginform">

            <div class="mb-3">
                <label for="loginemail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="loginemail" value="" name="email"
                    aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="loginpassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="loginpassword" value="" name="password" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div>
            <a href="http://localhost:8000/user/signup" title="GO TO SIGN UP PAGE"> DON'T HAVE ACCOUNT? SIGN UP NOW</a> <br>
            <a href="http://localhost:8000/password/forgotpassword" title="FORGOT PASSWORD"> FORGOT PASSWORD?</a>
        </div>

    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
        
<script >
    const form = document.getElementById("loginform")
    const login_email = document.getElementById("loginemail")
    const login_password = document.getElementById("loginpassword")

    form.addEventListener("submit", user_login)

    async function user_login(e) {
        try {
            e.preventDefault()
            let login_obj = {
                email: login_email.value,
                password: login_password.value
            }

            console.log(login_obj)
            let login_user = await axios.post("http://localhost:8000/user/login", login_obj)
            let listSize = 3
            console.log("login user data",login_user.data)
            localStorage.setItem('token',login_user.data.token)
            localStorage.setItem('listSizeToken',listSize)
            if (login_user.status == 200) {
                window.location.href = "http://localhost:8000/expense/addexpense"
            }
            else {
                throw new Error("FAILED TO LOGIN")

            }
        }
        catch (err) {
            console.log("USER LOGIN FAILED")
            document.body.innerHTML = document.body.innerHTML + `<div style="color:red">${err}</div>`
            document.body.innerHTML = document.body.innerHTML + `<div style="color:red">PLEASE CHECK UR CREDENTIALS</div>`
        }

    }




</script>

</html>